p{
    color:white;
    font-size: 20px;
}
span{
    text-decoration: underline;
    color:rgb(134, 134, 134)
}
p span{
    color:aqua;
    text-decoration: unset;
}
body{
    background-color: plum;
}